#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.ball{
    width: 1rem;
    height: 1rem;
    display: inline-block;
    border-radius: 50%;
    transition: 0.3s ease;
}

.col_beach{
  background-image: url("./assets/beach.png") ;
  background-size: cover;
}